/*
|--------------------------------------------------------------------------
| Variables
|--------------------------------------------------------------------------
*/

$container-area: 1216px;
$z-indexes: ("splash", "modals", "menu", "header", "super", "content");

$breakpoints: (
	"sm_phone": 480px,
	"md_phone": 600px,
	"phone": 730px,
	"sm_tablet": 992px,
	"tablet": 1200px,
	"sm_desktop": 1400px,
	"desktop": 1920px,
) !default;

/*
|--------------------------------------------------------------------------
| Fonts
|--------------------------------------------------------------------------
*/

$font-primary: "Arial", sans-serif;
$font-secundary: "Arial", sans-serif;
$font-tertiary: unset;

$font-title: $font-primary;
$font-text: $font-secundary;

/*
|--------------------------------------------------------------------------
| Custom Colors
|--------------------------------------------------------------------------
*/

$color-primary: unset;
$color-secondary: unset;
$color-tertiary: unset;
$color-quaternary: unset;

$selection-color: unset;
$selection-background: unset;

$scroll-thumb: #eee;
$scroll-hover: #eee;
$scroll-background: #1c1c1c;
$scroll-width: 0.5rem;
$scroll-thumb-radius: 1rem;

/*
|--------------------------------------------------------------------------
| Pattern Colors
|--------------------------------------------------------------------------
*/

$color-black: #000;
$color-white: #fff;
$color-blue: #007bff;
$color-indigo: #6610f2;
$color-purple: #6f42c1;
$color-pink: #e83e8c;
$color-red: #dc3545;
$color-orange: #fd7e14;
$color-yellow: #ffc107;
$color-green: #28a745;
$color-teal: #20c997;
$color-cyan: #17a2b8;
$color-white: #fff;
$color-grey: #6c757d;
$color-grey-dark: #343a40;
$color-success: #28a745;
$color-info: #17a2b8;
$color-warning: #ffc107;
$color-danger: #dc3545;
$color-light: #f8f9fa;
$color-dark: #343a40;
$color-muted: #616161;
$color-opacity-bg: rgba(0, 0, 0, 0.74);

$color-gallery: #eee;
$color-cod-gray: #1c1c1c;

/*
|--------------------------------------------------------------------------
| ROOT
|--------------------------------------------------------------------------
*/

:root {
	--black: #{$color-black};
	--white: #{$color-white};
	--blue: #{$color-blue};
	--indigo: #{$color-indigo};
	--purple: #{$color-purple};
	--pink: #{$color-pink};
	--red: #{$color-red};
	--orange: #{$color-orange};
	--yellow: #{$color-yellow};
	--green: #{$color-green};
	--teal: #{$color-teal};
	--cyan: #{$color-cyan};
	--white: #{$color-white};
	--grey: #{$color-grey};
	--grey-dark: #{$color-grey-dark};
	--success: #{$color-success};
	--info: #{$color-info};
	--warning: #{$color-warning};
	--danger: #{$color-danger};
	--light: #{$color-light};
	--dark: #{$color-dark};
	--muted: #{$color-muted};

	--scroll-width: #{$scroll-width};
	--scroll-background: #{$scroll-background};
	--scroll-thumb: #{$scroll-thumb};
	--scroll-hover: #{$scroll-hover};
	--scroll-thumb-radius: #{$scroll-thumb-radius};
}
